# systemd service for managing all secrets autoconfiguration.

[Unit]
Description=Secrets Configuration Autodiscovery

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/secrets
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/secrets
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

